<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

   <!-- <context:property-placeholder location="classpath:user.properties"/>-->

    <!--<context:component-scan base-package="hello"></context:component-scan>-->

    <!--通过set方法注入-->
    <bean id="hello" class="hello.Hello">
        <property name="name" value="李四"/>
        <!-- additional collaborators and configuration for this bean go here -->
    </bean>

    <!--通过构造函数注入bean-->
    <bean id="user" class="hello.User"  >
        <!--通过类型来指定构造器参数，如果写类型，默认结算位置，也可以通共index 来指定位置-->
        <constructor-arg value="张三" type="java.lang.String"></constructor-arg>
    </bean>

    <!--继承 user-->
    <bean id="user1"  parent="user">
    </bean>

    <!--把类说明为抽象类  只用与继承，不能实例化  添加这个abstract熟悉-->
    <bean id="user2" abstract="true"></bean>

    <!--自动装配 配置autowire熟悉，有两个值byName和ByType，一个通过名字  一个通过类型
    <bean id ="hello1"  autowire="byName"></bean>-->

 <!--   &lt;!&ndash;配置依赖关系  用属性depends-on  如果没有user ioc初始化的时候报错  多个用","分隔&ndash;&gt;
    <bean id = "user3" depends-on="user"> </bean>-->

   <!--通过scope指定bean的作用域 默认是单例的，即是singleton。
    还有一个这个prototype,每次从容器转给你获取都会给个新的，也就是原型的，session用的比较少-->
    <!--<bean id="user4" scope="prototype"></bean>-->


  <!--  <bean id="hello2" class="hello.Hello">
        <property name="name" value="${name}"></property>
    </bean>-->

    <!--<bean id="hello6" class="hello.Hello" init-method="init1" destroy-method="destory1">
    </bean>-->

</beans>